# Machine Learning:

## About the Data:
The dataset consists of all the basic bank details of the customers, and the 
dataset has categorical and numerical variables. It has missing values and more 
anomalies. It consists of the customer’s bank and processional details over the years 
so we can explore more of it. You have given the two data sets namely Train and Test 
datasets. Kindly use the TRAIN dataset to build and test the model. And use the Test 
dataset to submit your results.


## Section A: Title: Classification model

## Steps that are to be followed:
## Step 1: Understand the business problem.


## Problem Statement:
You are working as a data scientist in a global finance company. Over the years, the 
company has collected basic bank details and gathered a lot of credit-related information. 
The management wants to build an intelligent system to segregate the people into credit 
score brackets to reduce manual efforts.


## Objective:
The objective of this project is to explore the data to identify the pattern that causes 
the person to have a good or bad or standard type credit score and build a machine 
learning model that should be able to predict or classify the credit score type.

## Step 2: Import all the libraries and set up all the requirements that you will be needed(optional).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.model_selection import train_test_split,GridSearchCV

plt.rcParams['figure.figsize']=[12,6]

import warnings
warnings.filterwarnings('ignore')

 ## Step 3: Read the train and test data sets, and check for the datatypes

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [3]:
pd.set_option('display.max_columns',30)
test.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,9,13.27,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,4,12.27,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,5,11.27,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,1,5.42,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [4]:
train.shape

(100000, 28)

In [5]:
test.shape

(50000, 27)

In [6]:
# check for the datatypes
train.dtypes      # of train dataset

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [7]:
test.dtypes             # of test dataset

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
dtype: object

## Step 4: Fix the problem that the features have been wrongly identified.
 Note: One way to clean the training and testing data is to combine both train and test 
datasets. Then do the cleaning.

In [8]:
df=pd.concat([train,test],axis=0)
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [9]:
df.describe(include='object').T

,count,unique,top,freq
ID,150000,150000,0x1602,1
Customer_ID,150000,12500,CUS_0xd40,12
Month,150000,12,January,12500
Name,135000,10139,Stevex,66
Age,150000,2524,39,4198
SSN,150000,12501,#F%$D@*&8,8400
Occupation,150000,16,_______,10500
Annual_Income,150000,21192,36585.12,24
Num_of_Loan,150000,623,3,21500
Type_of_Loan,132888,6260,Not Specified,2112
Num_of_Delayed_Payment,139500,1058,19,7949
Changed_Credit_Limit,150000,4605,_,3150
Credit_Mix,150000,4,Standard,54858
Outstanding_Debt,150000,13622,1360.45,36
Credit_History_Age,136500,408,17 Years and 11 Months,628
Payment_of_Min_Amount,150000,3,Yes,78484
Amount_invested_monthly,143250,136497,__10000__,6480
Payment_Behaviour,150000,7,Low_spent_Small_value_payments,38207
Monthly_Balance,148238,148224,__-333333333333333333333333333__,15
Credit_Score,100000,3,Standard,53174

In [10]:
df.Age.unique()

array(['23', '-500', '28_', ..., '326', '7910', '5826'], dtype=object)

In [11]:
# cleaning converting age column to int
df['Age']=list(map(lambda x: x.strip('_').strip('-'),df['Age']))
df['Age']=df['Age'].astype(int)

In [12]:
df.Annual_Income.unique()

array(['19114.12', '34847.84', '34847.84_', ..., '14937.49_', '71025.4_',
       '22620.79_'], dtype=object)

In [13]:
# cleaning converting Annual_Income column to float
df['Annual_Income']=list(map(lambda x: x.strip('_'),df['Annual_Income']))
df['Annual_Income']=df['Annual_Income'].astype(float)

In [14]:
# df.Num_of_Loan.unique()

In [15]:
# cleaning converting Num_of_Loan column to int
df['Num_of_Loan']=list(map(lambda x: x.strip('_'),df['Num_of_Loan']))
df['Num_of_Loan']=df['Num_of_Loan'].astype(int)

In [16]:
df.Num_of_Delayed_Payment.unique()

array(['7', nan, '4', ..., '533', '332', '2034'], dtype=object)

In [17]:
# cleaning converting Num_of_Delayed_Payment column to float
df['Num_of_Delayed_Payment']=list(map(lambda x: str(x).strip('_'),df['Num_of_Delayed_Payment']))
df['Num_of_Delayed_Payment']=df['Num_of_Delayed_Payment'].astype(float)

In [18]:
df.Changed_Credit_Limit.unique()

array(['11.27', '_', '6.27', ..., '35.53', '-4.6', '29.17'], dtype=object)

In [19]:
# cleaning converting Changed_Credit_Limit column to float
df['Changed_Credit_Limit']=list(map(lambda x: str(x).strip('-').replace('_','NAN'),df['Changed_Credit_Limit']))
df['Changed_Credit_Limit']=df['Changed_Credit_Limit'].astype(float)

In [20]:
df.Outstanding_Debt.unique()

array(['809.98', '605.03', '1303.01', ..., '559.18_', '3711.23_',
       '732.11_'], dtype=object)

In [21]:
# cleaning converting Outstanding_Debt column to float
df['Outstanding_Debt']=list(map(lambda x: str(x).strip('_'),df['Outstanding_Debt']))
df['Outstanding_Debt']=df['Outstanding_Debt'].astype(float)

In [22]:
df.Amount_invested_monthly.unique()

array(['80.41529543900253', '118.28022162236736', '81.699521264648', ...,
       '181.44299902757518', '97.59857973344877', '220.45787812168732'],
      dtype=object)

In [23]:
# cleaning converting Amount_invested_monthly column to float
df['Amount_invested_monthly']=df['Amount_invested_monthly'].map(lambda x : str(x).strip('_'))
df['Amount_invested_monthly']=df['Amount_invested_monthly'].astype(float)

In [24]:
df.Monthly_Balance.unique()

array(['312.49408867943663', '284.62916249607184', '331.2098628537912',
       ..., '349.7263321025098', '463.23898098947717',
       '360.37968260123847'], dtype=object)

In [25]:
# cleaning converting Monthly_Balance column to float
df['Monthly_Balance']=df['Monthly_Balance'].map(lambda x : str(x).strip('_'))
# assigin the dtypes correctly
df['Monthly_Balance']=df['Monthly_Balance'].astype(float)

In [26]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                           int32
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int32
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

### i) Clean the anomalies in the categorical variables. A few anomalies have been mentioned here. 
* 1. Occupation - _______
* 2. SSN - #F%$D@*&8
* 3. Payment Behaviour - !@9#%8
Replace the above anomalies by replacing them with the mode of each customer.

In [27]:
# cleaning  Occupation column 
df['Occupation']=df['Occupation'].map(lambda x : x.replace('_______','Lawyer'))

In [28]:
df.Occupation.unique()

array(['Scientist', 'Lawyer', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Media_Manager', 'Doctor', 'Journalist', 'Manager',
       'Accountant', 'Musician', 'Mechanic', 'Writer', 'Architect'],
      dtype=object)

In [29]:
df.SSN.value_counts().sort_values(ascending=False)

#F%$D@*&8      8400
839-25-8518      12
467-31-3749      12
647-50-0887      12
167-92-5388      12
               ...
414-76-9835       7
695-71-7676       7
803-44-6289       7
074-52-8105       7
642-73-7670       6
Name: SSN, Length: 12501, dtype: int64

In [30]:
# cleaning  SSN column 
df['SSN']=df['SSN'].map(lambda x : x.replace('#F%$D@*&8','NAN'))

In [31]:
df.SSN.unique()

array(['821-00-0265', 'NAN', '004-07-5839', ..., '133-16-7738',
       '031-35-0942', '078-73-5990'], dtype=object)

In [32]:
df.Payment_Behaviour.value_counts().sort_values(ascending=False)

Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
!@9#%8                              11400
Name: Payment_Behaviour, dtype: int64

In [33]:
df['Payment_Behaviour']=df['Payment_Behaviour'].map(lambda x : x.replace('!@9#%8','Low_spent_Small_value_payments'))
df.Payment_Behaviour.unique()

array(['High_spent_Small_value_payments',
       'Low_spent_Large_value_payments',
       'Low_spent_Medium_value_payments',
       'Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments',
       'High_spent_Large_value_payments'], dtype=object)

### ii) Clean the anomalies for numerical variables. 
Ex: 
* 1. Age has above 8000 values therefore replace the values that are above 100 or 85 with median values.
Note: I encourage you to replace the abnormal values with customer ID-wise 
median replacement for the customers who have above and below abnormal values. 
(customer-wise median means the median value for each customer. Example: customer aaa 
Annual Income has anomaly value in one row so replace that with customer aaa Annual 
Income median value. )

In [ ]:
num_cols=df.select_dtypes(include=np.number)

### 2. Few columns have - negative values but they are not supposed to have negative values. So replace the negative values with the median by doing a customer-wise median.

### 3. Go through each variable and find out the other mistakes. And handle them

## Step 6: Convert the Credit_History_Age datatype variable into float data types by taking only year and month. Example. 22 years and 1 month → 22.1. And the Payment_of_Min_Amount column you might find some other weird values apart from Yes and No. And If you have combined the train and test datasets, then change the month's names into its number.

## Step 7: Find out the missing values in the data frame and handle them in the best way possible. One way of solving this is by imputing the missing values with a customer-wise median.

## Step 8: Perform Univariate, Bivariate, and Multivariate analyses to find the factors that affect the Target variables.

## Step 9: Separate your Train dataset and test data set if you combined them in the initial steps. (In this step only segregate train and test datasets based on the length of the train and test dataset)
Note: Your given test dataset is only for validating and submitting the results. Only 
Use the Train dataset to perform the train test split in the coming steps. Do not use Test to 
build the model and test the model, Since there is no target variable in the test data set you 
can not test the model performance with the test data set. Thus we only consider the 
training dataset and split that into X_train and X_test.

## Step 11: Perform the Statistical analysis to prove where the independent variables have an effect on the Target variables.
 Example: Few statistical analyses:
* 1. Check whether the Annual income across all the target variables is significantly the same. Let's fix the alpha is 0.05. Make sure the data is normal and the variance is equal. If not use a Non-parametric statistical test.

* 2. Check if there is an independence of the Occupation and Credit Score. The significant level is 0.05.

* 3. Check if there is a relationship between the Payment Behaviour and Credit Score.

* 4. Check Statistically that the Credit_Utilization_Ratio median values are significantly not different across the target variable classes.

## Step 12: Encode the categorical variables with related technologies. Change the target variable classes as (poor to 0, Standard to 1, Good to 2).

## Step 13: Scale the numerical features (optional).

## Step 14: Use a train test split on the dataset called a train..

## Step 15: Build the base model. Observe how the model is performing.

## Step 16: Build other models and choose the model which gives the best results.

## Step 17: Perform Feature selection using different feature selection methods.

## Step 18: Tune the final model using Grid search CV or Randomized CV or any other methods.

## Step 19: Perform Cross-validation for the final model by setting the best parameters.

## Step 20: Use the validation data set called test dataset to get predict the target variables once it is done create a data frame with ID and predicted values.

## Step 21: Write down the overall business insight.

## Step 22: Save the dataset that you created in step 22.

## Step 23. Submit the solution file and output dataset